<strong>Olá, {{deliveryman}}</strong>
<p>Houve um cancelamento de entrega:</p>
<p>
  <span>Referente à entrega de um(a) {{product}}, para {{recipient}} </span> <br />
  <strong>No endereço: </strong> {{address}} <br />

  <br />
</p>
