<strong>Olá, {{deliveryman}}</strong>
<p>Uma nova encomenda foi cadastrada para você! Confira mais detalhes abaixo:</p>
<p>
  <span>Referente à entrega de um(a) {{product}}, para {{recipient}} </span> <br />
  <strong>No endereço: </strong> {{address}} <br />

  <br />
  <small>A encomenda já está disponível para retirada.</small>
</p>
