<strong>Olá, {{deliveryman}}</strong>
<p>Uma nova encomenda foi cadastrada para você! Confira mais detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{recipient}} <br />
  <strong>Endereço: </strong> {{address}} <br />

  <br />
  <small>A encomenda já está disponível para retirada.</small>
</p>
